
{{ form_start(formedeboxeForm) }}
    {{ form_row(formedeboxeForm.nom) }}
    {{ form_row(formedeboxeForm.description) }}
    {{ form_row(formedeboxeForm.photo) }}
    {{ form_row(formedeboxeForm.prix) }}
    {{ form_row(formedeboxeForm.quantite) }}
    <button type="submit" class="btn btn-dark">Valider</button>
{{ form_end(formedeboxeForm) }}