{% extends 'base.html.twig' %}

{% block title %}Liste des formes de boxe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include "_adminnav.html.twig" %}
        <main class="col-9 border border-white p-2">
            <h1>Liste des formes de boxe</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
						<th>Nom</th>
                        <th>Description</th>
						<th>Photo</th>
                        <th>Prix</th>
                        <th>Quantité</th>
						<th>Action</th>

                        
                    </tr>
                </thead>
                <tbody>
                    {% for formedeboxe in formedeboxes %}
                        <tr>
                            <td>{{ formedeboxe.id }}</td>
                            <td>{{ formedeboxe.nom }}</td>
						   	<td>{{ formedeboxe.description }}</td>
							<td><img src="/image/{{ formedeboxe.photo }}" class="card-img-top" alt="..."></td>
                            <td>{{ formedeboxe.prix }}</td>
                            <td>{{ formedeboxe.quantite }}</td>

                            <!-- Ajoutez d'autres cellules pour afficher d'autres informations de l'utilisateur -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
