
<aside class="col-3 border border-light bg-white p-2">

	<article class="card mb-3">
		<div class="card-header">
			Licenciés
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('licenciés')}}">
					Liste des licenciés</a>
			</p>
			<p>
				<a href="{{ path('creer')}}">
					Ajouter un licencié</a>
			</p>

			{# <p>
				<a href="{{ path('admin_licenciés_supprimer')}}">
					Supprimer un licencié</a>
			</p> #}

		</div>
	</article>

    <article class="card mb-3">
		<div class="card-header">
			Forme de boxe
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('liste')}}">
					Liste des formes de boxe</a>
			</p>

		</div>
	</article>

    <article class="card mb-3">
		<div class="card-header">
			Utilisateurs
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_users_index')}}">
					Liste des utilisateurs</a>
			</p>
		</div>
	</article>
</aside> 