{% extends 'base.html.twig' %}

{% block title %}Liste des licenciés{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include "_adminnav.html.twig" %}
        <main class="col-9 border border-white p-2">
            <h1>Liste des licenciés</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom de licence</th>
						<th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Code postal</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Téléphone</th>
                        <th>Email</th>
						<th>Sexe</th>
                        <th>Date de naissance</th>
                        <!-- Ajoutez d'autres colonnes pour afficher d'autres informations de l'utilisateur -->
                    </tr>
                </thead>
                <tbody>
                    {% for licence in licences %}
						    {% for user in licence.users %}

                        <tr>
                            <td>{{ licence.id }}</td>
                            <td>{{ licence.nomlicence }}</td>
							<td>{{ user.getNom() }}</td>
                            <td>{{ user.getPrenom() }}</td>
                            <td>{{ user.getAdresse() }}</td>
                            <td>{{ user.getCodepostal() }}</td>
                            <td>{{ user.getVille() }}</td>
                            <td>{{ user.getPays() }}</td>
                            <td>{{ user.getTelephone() }}</td>
                            <td>{{ user.getEmail() }}</td>
							<td>{{ user.getSexe() }}</td>
                            <td>{{ user.getDatenaiss() ? user.getDatenaiss().format('Y-m-d') : '' }}</td>
                            <!-- Ajoutez d'autres cellules pour afficher d'autres informations de l'utilisateur -->
                        </tr>
						    {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
